<section class="content center">
  <div class="container sheet" id="whiteForm">
    <h2><i class="plus square icon"></i><strong> 新增課程時段 </strong></h2>
    <hr />
    
    <form name="myForm" method="post">
      
      <table>
        <tr>
          <th><b>課程：</b></th>
          <td><b>{{currentCourse.course}}</b></td>
        </tr>
        <tr>
          <th><label><b>日期：</b></label></th>
          <td><input type="date" id="new_class_date" name="date" [(ngModel)]="date" /></td>
        </tr>
        <tr>
          <th><label><b>節數：</b></label></th>
          <td><select id="new_class_start_period" name="startPeriod" [(ngModel)]="startPeriod">
              <option value="" selected disabled hidden>起始節數</option>
              <option *ngFor="let period of periodOptions" [value]='period.value'>{{period.title}}</option>
            </select>
            <b>&nbsp;~&nbsp;</b>
            <select id="new_class_end_period" name="endPeriod" [(ngModel)]="endPeriod">
              <option value="" selected disabled hidden>結束節數</option>
              <option *ngFor="let period of periodOptions" [value]='period.value'>{{period.title}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <th><label><b>教室：</b></label></th>
          <td><select id="new_class_classroom" name="classroomID" [(ngModel)]="classroomID">
              <option value="" selected disabled hidden>請選擇教室</option>
              <option *ngFor="let room of classroomOptions" [value]='room.value'>{{room.title}}</option>
            </select>
          </td>
        </tr>
      </table>
      <div>
        <button (click)="validateAddNewClassForm()" class="button" type="submit">送出申請</button>
        <button id="inverseButton" onclick="location.href='/course-change'" class="button" title="返回" type="button">
          返回</button>
      </div>
    </form>
  </div>
</section>
