<section class="content center">
  <div class="container sheet" id="whiteForm">
    <h2><i class="plus square icon"></i><strong> 新增課程時段 </strong></h2>
    <hr />
    <form name="myForm" onsubmit="return validateAddNewClassForm()" method="post">
      <table>
        <tr>
          <th><b>課程：</b></th>
          <td><b>這是課程名稱</b></td>
        </tr>
        <tr>
          <th><label><b>日期：</b></label></th>
          <td><input type="date" id="new_class_date" /></td>
        </tr>
        <tr>
          <th><label><b>節數：</b></label></th>
          <td><select id="new_class_start_period">
              <option value="1">1　(08:10~09:00)</option>
              <option value="2">2　(09:10~10:00)</option>
              <option value="3">3　(10:10~11:00)</option>
              <option value="4">4　(11:10~12:00)</option>
              <option value="N">N　(12:10~13:00)</option>
              <option value="5">5　(13:10~14:00)</option>
              <option value="6">6　(14:10~15:00)</option>
              <option value="7">7　(15:10~16:00)</option>
              <option value="8">8　(16:10~17:00)</option>
              <option value="9">9　(17:10~18:00)</option>
              <option value="A">A　(18:10~19:00)</option>
              <option value="B">B　(19:10~20:00)</option>
              <option value="C">C　(20:10~21:00)</option>
              <option value="D">D　(21:10~22:00)</option>
            </select>
            <b>&nbsp;~&nbsp;</b>
            <select id="new_class_end_period">
              <option value="1">1　(08:10~09:00)</option>
              <option value="2">2　(09:10~10:00)</option>
              <option value="3">3　(10:10~11:00)</option>
              <option value="4">4　(11:10~12:00)</option>
              <option value="N">N　(12:10~13:00)</option>
              <option value="5">5　(13:10~14:00)</option>
              <option value="6">6　(14:10~15:00)</option>
              <option value="7">7　(15:10~16:00)</option>
              <option value="8">8　(16:10~17:00)</option>
              <option value="9">9　(17:10~18:00)</option>
              <option value="A">A　(18:10~19:00)</option>
              <option value="B">B　(19:10~20:00)</option>
              <option value="C">C　(20:10~21:00)</option>
              <option value="D">D　(21:10~22:00)</option>
            </select>
          </td>
        </tr>
        <tr>
          <th><label><b>教室：</b></label></th>
          <td><select id="new_class_classroom">
              <option value="61101">61101</option>
              <option value="61102">61102</option>
              <option value="61103">61103</option>
              <option value="61104">61104</option>
              <option value="61200">61200(大階梯講堂)</option>
              <option value="61201">61201</option>
              <option value="61202">61202</option>
              <option value="61204">61204</option>
              <option value="61206">61206(多功能講堂)</option>
              <option value="61208">61208</option>
              <option value="61210">61210</option>
              <option value="貴賓室">2F貴賓室</option>
              <option value="61321">61321(小會議室)</option>
              <option value="61306">61306(大會議室)</option>
            </select>
          </td>
        </tr>
      </table>
      <div>
        <button class="button" type="submit">送出申請</button>
        <button id="inverseButton" onclick="location.href='10_課程管理.html'" class="button" title="返回" type="button">
          返回</button>
      </div>
    </form>
  </div>
</section>
