<section class="content center">
  <div class="sheet">
    <h1>使用說明</h1>
    <section>
      <h3>註冊功能僅提供【助教帳號】申請，一般學生【無需註冊】即可使用。</h3>
      親愛的使用者您好：<br />
      本系統整合工資管系上「教室、設備借用」與「供電」系統，並依據不同使用者身分，提供不同使用功能。
    </section>

    <section>
      <h3><i class="cog icon"></i>供電系統：</h3>
      1.　本系統使用<b>學生證、職員證、臨時電卡</b>認證身分。<br />
      2.　若遇到有上課或是已借用的時段，學生、助教或教授可使用證件刷卡開啟電力系統。<br />
      3.　為確保課後討論或延遲下課時之所需，下課時間亦包含在供電時間內，<b>每節課共供電70分鐘(10+50+10)。</b><br />
      4.　若遇到連續的課堂，系統也會在該時段內不斷電，避免需重複刷卡的狀況。唯若有提早下課的需求，師生亦可再次刷卡，提早結束供電。
    </section>

    <section>
      <h3><i class="cog icon"></i>系統功能：</h3>
      <b>※　無需登入系統：</b>(所有身分別皆可使用)<br /><br />
      1.　【可借用時段查詢】<br />
      2.　【一般活動場地、設備之借用】<br />
      3.　【查詢申請狀態】- (審核中、通過、拒絕)<br /><br />
      <b>※　需登入系統：</b>(助教、教授、系主任、系辦公室)
    </section>

    <section>
      <h3><i class="cog icon"></i>權限介紹：</h3>
      <table id="main" class="left">
        <tr>
          <th>功能\身分</th>
          <th>助教</th>
          <th>教授</th>
          <th>系主任</th>
          <th>系辦公室</th>
        </tr>
        <tr>
          <th>新增、刪除臨時課程時間</th>
          <td>v</td>
          <td>v</td>
          <td>v</td>
          <td>v</td>
        </tr>
        <tr>
          <th>編輯課程助教</th>
          <td>-</td>
          <td>v</td>
          <td>v</td>
          <td>v</td>
        </tr>
        <tr>
          <th>借用審核</th>
          <td>-</td>
          <td>-</td>
          <td>v</td>
          <td>v</td>
        </tr>
        <tr>
          <th>審核補課申請</th>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>v</td>
        </tr>
        <tr>
          <th>成員管理</th>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>v</td>
        </tr>
        <tr>
          <th>編輯學期課程</th>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>v</td>
        </tr>
        <tr>
          <th>刷卡紀錄查詢</th>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>v</td>
        </tr>
      </table>

      <aside class="right">
        【新增、刪除臨時課程時間】- 提供加課、補課、調課、停課功能<br />
        【編輯課程助教】- 針對開授的課程編輯助教名單<br />
        【借用審核】- 審核活動場地器材借用、<br />
        【審核補課申請】- 審核補課申請<br />
        【成員管理】- 編輯系主任、教授<br />
        【編輯學期課程】- 管理每學期課程及查看修課學生名單<br />
        【刷卡紀錄查詢】- 查看各教室供電紀錄<br />
      </aside>
    </section>

    <div class="clear">
      <p>2019.09<br />工資管教室設備借用暨電力管理系統開發小組</p>
    </div>
  </div>
</section>
