<header>
  <div class="container">
    <a routerLink="/" routerLinkActive="active">
      <img src="/assets/images/logo.png" height="70" alt="system logo" />
    </a>

    <div class="loginNavBar">
      <a routerLink="/login" routerLinkActive="active" title="登入" target="_self">登入</a>
      &nbsp; | &nbsp;
      <a routerLink="/signup" routerLinkActive="active" title="註冊" target="_self">註冊</a>
    </div>
  </div>
</header>

<nav>
  <div class="container">
    <a routerLink="/classroom-schedule" routeLinkActive="active" class="button" title="查詢可借用時段" target="_self">查詢可借用時段</a>
    <a routerLink="/booking" routeLinkActive="active" class="button" title="申請借用教室與設備" target="_self">申請借用</a>
    <a routerLink="/query-form" routeLinkActive="active" class="button" title="查詢申請進度" target="_self">查詢申請進度</a>
    <a routerLink="/course-change" routeLinkActive="active" class="button" title="課程管理" target="_self">課程管理</a>
    <a routerLink="/check-form" routeLinkActive="active" class="button" title="借用審核" target="_self">借用審核</a>
    <a routerLink="/role-setting" routeLinkActive="active" class="button" title="角色管理" target="_self">角色管理</a>
    <a routerLink="/semester-course" routeLinkActive="active" class="button" title="學期課程" target="_self">學期課程</a>
    <a routerLink="/card-record" routeLinkActive="active" class="button" title="刷卡紀錄" target="_self">刷卡紀錄</a>
  </div>
</nav>
