<div class="center column">
  <form class="center" name="queryAvailableTimeForm" (ngSubmit)="onSubmit()" method="post">
    <div class="hgroup">
      <label><b>日期：</b>
        <input type="date" name="queryDate" [(ngModel)]="timeRange.date" />
      </label>
    </div>
    <div class="hgroup">
      <label><b>節數：</b></label>
      <select [(ngModel)]="timeRange.startPeriod" name="startPeriod">
        <option value="" selected disabled hidden>起始節數</option>
        <option *ngFor="let period of periodOptions" [value]='period.value'>{{period.title}}</option>
      </select>
      <b>&nbsp;~&nbsp;</b>
      <select [(ngModel)]="timeRange.endPeriod" name="endPeriod">
        <option value="" selected disabled hidden>結束節數</option>
        <option *ngFor="let period of periodOptions" [value]='period.value'>{{period.title}}</option>
      </select>
    </div>
    <button class="button" title="查詢" type="submit">查詢</button>
  </form>

  <table *ngIf="(classrooms$ | async) as classrooms" id="boldTable">
    <tr>
      <th>教室</th>
      <th>可容納人數</th>
      <th>價格(半日)</th>
      <th>備註</th>
    </tr>
    <ng-container *ngIf="classrooms.length; else empty">
      <tr *ngFor="let classroom of classrooms;trackBy: trackByFn">
        <th>{{classroom.id | string: 'classroom'}}</th>
        <td>{{classroom.capacity}}</td>
        <td>{{classroom.price}}</td>
        <td><span *ngIf="classroom.pending">審核中</span></td>
      </tr>
    </ng-container>
    <ng-template #empty>
      <tr empty-row fullColspan="4"></tr>
    </ng-template>
  </table>
</div>
