<section class="content center">
  <div class="container sheet" id="whiteForm">
    <h2><i class="edit icon"></i>課程：{{courseName}}</h2>
    <br />
    <div class="box">
      <span style="font-size:20px"><i class="user plus icon"></i><strong> 新增助教 </strong></span><br />
      <div class="group">
        <label>請輸入學號：</label>
        <input type="text" name="ID" />
        <button class="button">新增</button>
      </div>
    </div>
    <br />
    <div class="box">
      <span style="font-size:20px"><i class="user times icon"></i><strong> 刪除助教 </strong></span><br />
      <table id="singleLineTable" style="width:400px;">
        <tr>
          <th><b>學號</b></th>
          <th><b>姓名</b></th>
          <th><b>刪除</b></th>
        </tr>
        <tr *ngFor="let ta of TAs">
          <td>{{ta.id}}</td>
          <td>{{ta.name}}</td>
          <td><button class="button">刪除</button></td>
        </tr>
      </table>
    </div>
  </div>
</section>
