<section class="content">
  <div class="container">
    <p><i class="exclamation circle icon"></i><b>若需要調課，請先刪除原時段，再新增上課時段</b></p>
    <table id="boldTable">
      <tr>
        <th>課程</th>
        <th>新增上課時段</th>
        <th>刪除上課時段</th>
        <th>助教管理</th>
      </tr>
      <tr>
        <th>計算機程式與應用</th>
        <td><a class="link" routerLink="/course-change/makeup" routerLinkActive="active">新增</a></td>
        <td><a class="link" routerLink="/course-change/suspended" routerLinkActive="active">刪除</a></td>
        <td><a class="link" routerLink="/course-change/ta" routerLinkActive="active">修改</a></td>
      </tr>
      <tr>
        <th>雲端行動與應用</th>
        <td><a class="link" routerLink="/course-change/makeup" routerLinkActive="active">新增</a></td>
        <td><a class="link" routerLink="/course-change/suspended" routerLinkActive="active">刪除</a></td>
        <td><a class="link" routerLink="/course-change/ta" routerLinkActive="active">修改</a></td>
      </tr>
    </table>
  </div>
</section>
