<section class="content">
  <div class="container">
    <p><i class="exclamation circle icon"></i><b>若需要調課，請先刪除原時段，再新增上課時段</b></p>
    <table id="boldTable">
      <tr>
        <th>課程</th>
        <th>新增上課時段</th>
        <th>刪除上課時段</th>
        <th>助教管理</th>
      </tr>
      <tr *ngFor="let course of courses">
        <th>{{course.name}}</th>
        <td><a class="link" [routerLink]="['/course-change/makeup/'+course.name]" routerLinkActive="active" >新增</a></td>
        <td><a class="link" [routerLink]="['/course-change/suspended/'+course.name]" routerLinkActive="active">刪除</a></td>
        <td><a class="link" [routerLink]="['/course-change/ta/'+course.name]" routerLinkActive="active">修改</a></td>
      </tr>
    </table>
  </div>
</section>
