footer {
  align-items: center;
  background: #333;
  color: #fff;
  display: flex;
  height: 80px;
  justify-content: center;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: underline;
  font-size: 16px;
}
