<section class="content center">
  <div class="container sheet" id="whiteForm">
    <h2>
      <i class="calendar plus outline icon"></i><strong>{{mode}}</strong>
    </h2>
    <hr />
    <form name="myForm" method="post">
      <table>
        <tr>
          <th colspan="2" style="text-align:center">
            <strong>{{form.year}}學年度 第{{form.semester}}學期</strong><br />
          </th>
          <th><label>分班碼：(選填)</label></th>
          <td><input class="shortWidth" type="text" name="courseNo" [disabled]="!isCreate"/></td>
        </tr>
        <tr>
          <th><label>課程代號：</label></th>
          <td>
            <input type="text" name="courseID" list="courseIDs"
                [(ngModel)]="form.courseID" [disabled]="!isCreate"/>
            <datalist id="courseIDs">
              <option *ngFor="let course of courses$ | async" [value]="course.id">{{course.name}}</option>
            </datalist>
          </td>
          <th><label>課程名稱：</label></th>
          <td><input type="text" name="courseName" [(ngModel)]="form.name" [disabled]="!isCreate"/></td>
        </tr>
        <tr>
          <th><label>教授：</label></th>
          <td>
            <select name="professor" [(ngModel)]="form.teacherID">
              <option value="" selected disabled hidden>請選擇教師</option>
              <option *ngFor="let teacher of teachers$ | async" [value]="teacher.id">{{teacher.name}}</option>
            </select>
          </td>
          <th><label>教室：</label></th>
          <td><select name="classroomID" [(ngModel)]="form.classroomID">
              <option value="" selected disabled hidden>請選擇教室</option>
              <option *ngFor="let room of classroomOptions" [value]='room.value'>{{room.title}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <th colspan="4" class="titleAndAddBtn"><b>課程時段</b>
            <button class="button" (click)="addCourseTime()">+</button>
          </th>
        </tr>
        <tr *ngFor="let time of times;let i = index">
          <th><label>時段：</label></th>
          <td colspan="3">
            <select class="shortWidth" [name]="'weekday_'+i" [(ngModel)]="time.weekday">
              <option value="" selected disabled hidden>星期</option>
              <option *ngFor="let day of week;let w = index" [value]='w'>{{day.title}}</option>
            </select>
            &nbsp;
            <select [name]="'startPeriod_'+i" [(ngModel)]="time.startPeriod">
              <option value="" selected disabled hidden>起始節數</option>
              <option *ngFor="let period of periodOptions" [value]='period.value'>{{period.title}}</option>
            </select>
            <b>&nbsp;~&nbsp;</b>
            <select [name]="'endPeriod_'+i" [(ngModel)]="time.endPeriod">
              <option value="" selected disabled hidden>結束節數</option>
              <option *ngFor="let period of periodOptions" [value]='period.value'>{{period.title}}</option>
            </select>
            <button class="button" (click)="removeCourseTime(i)">-</button>
          </td>
      </table>
      <button *ngIf="isCreate" (click)="createSemesterCourse()" class="button">新增</button>
      <button *ngIf="!isCreate" (click)="modifySemesterCourse()" class="button">修改</button>
      <button onclick="history.back()" class="button">取消</button>
    </form>
  </div>
</section>
