<section class="content center">
  <div class="sheet small" id="whiteFormSmall">
    <h2>
      <strong>個人資料修改 </strong><i class="pencil alternate icon"></i>
    </h2>
    <hr />
    <div class="center">
      <form name="myForm" (ngSubmit)="updateInfo()" method="post">
        <table>
          <tr>
            <th><label><b>識別號：</b></label></th>
            <td><input [(ngModel)]="user.id" name="id" disabled/></td>
          </tr>
          <tr>
            <th><label><b>姓名：</b></label></th>
            <td><input type="text" [(ngModel)]="user.name" name="name" disabled/></td>
          </tr>
          <tr>
            <th><label><b>Email：</b></label></th>
            <td><input type="email" [(ngModel)]="user.email" name="email" required /></td>
          </tr>
        </table>
        <button class="button" type="submit" title="儲存">儲存</button>
      </form>
    </div>
  </div>

  <div class="sheet small" id="whiteFormSmall">
    <h2><strong>密碼修改</strong><i class="pencil alternate icon"></i></h2>
    <hr />
    <div class="center">
      <form name="passwordForm" (ngSubmit)="updatePassword()" method="post">
        <table>
          <tr>
            <th><label><b>原密碼：</b></label></th>
            <td><input type="password" [(ngModel)]="password.oldPassword" name="oldPwd" /></td>
          </tr>
          <tr>
            <th><label><b>新密碼：</b></label></th>
            <td><input type="password" [(ngModel)]="password.newPassword" name="newPwd" /></td>
          </tr>
          <tr>
            <th><label><b>確認新密碼：</b></label></th>
            <td><input type="password" [(ngModel)]="newPassword2" name="newPwd2" /></td>
          </tr>
        </table>
        <button class="button" type="submit" title="修改密碼">修改密碼</button>
      </form>
    </div>
  </div>
</section>
