<section class="content center">
  <div class="sheet small">
    <h3>助教帳號申請</h3>
    <hr />
    <form name="myForm" (ngSubmit)="onSubmit()" method="post" ngNativeValidate>
      <div class="center column">
        <table>
          <tr>
            <th><label><b>學號：</b></label></th>
            <td><input type="text" id="reg_stu_id" name="userID" [(ngModel)]="form.userID" required/></td>
          </tr>
          <tr>
            <th><label><b>姓名：</b></label></th>
            <td><input type="text" id="reg_name" name="name" [(ngModel)]="form.name" required/></td>
          </tr>
          <tr>
            <th><label><b>Email：</b></label></th>
            <td><input type="text" id="reg_email" name="email" [(ngModel)]="form.email" required/></td>
          </tr>
          <tr>
            <th><label><b>密碼：</b></label></th>
            <td><input type="text" id="reg_password" name="password" [(ngModel)]="form.password" required/></td>
          </tr>
          <tr>
            <th><label><b>確認密碼：</b></label></th>
            <td><input type="text" id="reg_confirm_password" name="pwdCheck" [(ngModel)]="pwdCheck" required/></td>
          </tr>
        </table>
      </div>
      <button class="button" type="submit" title="送出申請">送出申請</button>
      <button routerLink="/login" type="button" class="button" title="登入">登入</button>
    </form>
  </div>
</section>
