header {
  background-color: #dcc8a5;
  color: #fff;
  padding-top: 5px;
}

/* default login nav bar */
.loginNavBar {
  bottom: 5px;
  color: #555;
  display: inline;
  position: absolute;
  right: 0;
}

.loginNavBar a {
  cursor: pointer;
}

.loginNavBar .active {
  color: #fff;
  pointer-events: none;
}

nav {
  background-color: #424146;
  color: #fff;
}

nav .button {
  border-radius: 0;
  display: inline-block;
  margin: 0 4px;
  padding: 12px 12px;
}

nav .active {
  background-color: #717172;
  color: #fff;
}
