.content {
  background-image: url("/assets/images/home-background.jpg");
  background-position: right center;
  text-align: center;
}

.vgroup {
  margin-bottom: 30px
}

h1 {
  color: #f4f4f4;
  font-size: 50px;
}

p {
  color: #f4f4f4;
  font-size: 20px;
  line-height: 1em;
  margin-bottom: 40px;
}

.button {
  background-color: #ccc;
  color: #717172;
  padding: 10px 20px;
}

.button:hover {
  background-color: #f4f4f4;
  color: #717172;
}
