<section class="content">
  <div class="container">
    <span style="font-size:18px">
      <i class="calendar alternate outline icon"></i>
      <strong *ngIf="semester$ | async as sem"> {{year}}學年度 第{{semester}}學期
        ({{sem.courseStartDate | date: 'yyyy/MM/dd'}} ~ {{sem.courseEndDate | date: 'yyyy/MM/dd'}}) </strong>
    </span>

    <a routerLink="/semester-course/create" class="button">新增課程</a>
    <table class="listTable">
      <tr>
        <th>學期課程代號</th>
        <th>課程</th>
        <th>開課教授</th>
        <th>時段</th>
        <th>教室</th>
        <th>修課學生名單</th>
        <th>編輯課程</th>
      </tr>
      <tr *ngFor="let course of semesterCourses$ | async;trackBy: trackByFn">
        <td>{{course.id}}</td>
        <td>{{course.name}}</td>
        <td>{{course.teacher}}</td>
        <td>{{course.time}}</td>
        <td>{{course.classroomID | string: 'classroom'}}</td>
        <td><button class="button" (click)="queryStudents(course)">查詢</button></td>
        <td>
          <button [routerLink]="['/semester-course/modify/',course.id]" class="button">修改</button>
          <button (click)="deleteSemesterCourse(course.id)" class="button">刪除</button>
        </td>
      </tr>
    </table>
  </div>
</section>

<ngx-smart-modal #studentsModal identifier="studentsModal" customClass="nsm-centered">
  <div class="center column" *ngIf="studentsModal.hasData(); else nothing">
    <h1>
      {{studentsModal.getData()?.courseName}}-修課名單
    </h1>
    <table class="listTable">
      <tr>
        <th>學號</th>
        <th>姓名</th>
      </tr>
      <tr *ngFor="let student of studentsModal.getData().students$ | async;trackBy: trackByFn">
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
      </tr>
    </table>
  </div>
  <ng-template #nothing>
    查無歷史資料
  </ng-template>
</ngx-smart-modal>
