<section class="content center">
  <div class="container sheet" id="whiteForm">
    <h2>
      <i class="trash alternate icon"></i><strong>刪除課程時段</strong>
    </h2>
    <hr />
    <div class="group" *ngIf="(course$ | async) as course">
      <label><b>課程：</b></label>
      <b>{{course.name}}</b>
    </div>

    <div class="group">
      <label><b>日期：</b></label>
      <input type="date" id="delete_date" [(ngModel)]="selectedDate" (change)="notify(0)" />
    </div>
    <table id="delete_class" *ngIf="(courseTime$ | async) as courseTime">
      <tr>
        <th></th>
        <th *ngFor="let date of courseTime | keys;let i = index">
          {{date | date: 'yyyy/MM/dd'}}<br />
          ({{week[i].title}})
        </th>
      </tr>
      <tr *ngFor="let period of periodNames | keys">
        <th>{{period}}</th>
        <td *ngFor="let dateSchedules of courseTime | values">
          <div *ngFor="let schedule of dateSchedules[period]">
            <ng-container *ngIf="(schedule.date + schedule.period + schedule.classroomID) as key">
              <input type="checkbox" value="check" [name]="key" [(ngModel)]="timeCheckBox[key]" /> {{schedule.classroomID}}
            </ng-container>
          </div>
        </td>
      </tr>
    </table>

    <br />
    <div>
      <button class="button" (click)="suspendCourse()">刪除</button>
      <button onclick="history.back()" class="button" title="返回" type="button">返回</button>
    </div>
  </div>
</section>
