<section class="content center">
  <div class="sheet small">
    <h3>Login</h3>
    <hr />

    <div class="group">
      <label><b>帳號：</b></label>
      <input type="text" id="account" placeholder="Account" />
    </div>

    <div class="group">
      <label><b>密碼：</b></label>
      <input type="password" id="password" placeholder="Password" />
    </div>

    <div class="group">
      <a href="21_忘記密碼.html" class="sheetLink" title="忘記密碼" target="_self">忘記密碼</a>
    </div>
    <br />
    <a href="08_註冊.html" title="註冊" class="button" target="_self">註冊</a>
    <button onclick="login()" title="登入" class="button" target="_self">
      登入
    </button>
  </div>
</section>
