<section class="content center">
  <div class="sheet" style="text-align:center">
    <h2>
      <i class="search icon"></i><strong> 查詢刷卡紀錄 </strong>
    </h2>
    <hr />
    <div style="text-align:left">
      <div class="group">
        <label>教室：</label>
        <select name="classroom">
          <option value="61101">61101</option>
          <option value="61102">61102</option>
          <option value="61103">61103</option>
          <option value="61104">61104</option>
          <option value="61200">61200(大階梯講堂)</option>
          <option value="61201">61201</option>
          <option value="61202">61202</option>
          <option value="61204">61204</option>
          <option value="61206">61206(多功能講堂)</option>
          <option value="61208">61208</option>
          <option value="61210">61210</option>
          <option value="貴賓室">2F貴賓室</option>
          <option value="61321">61321(小會議室)</option>
          <option value="61306">61306(大會議室)</option>
        </select>
      </div>
      <div class="group">
        <label>日期：</label>
        <input type="date" name="date" />
        <label><b> ~ </b></label>
        <input type="date" name="date" />
      </div>
    </div>
    <br />
    <button onclick="location.href='19_刷卡紀錄查詢結果.html'" class="button"><i class="search icon"></i>查詢</button>
  </div>
</section>
