<section class="content center">
  <div class="sheet" style="text-align:center">
    <h2>
      <i class="search icon"></i><strong> 查詢刷卡紀錄 </strong>
    </h2>
    <hr />
    <div style="text-align:left">
      <div class="group">
        <label>教室：</label>
        <select id="new_class_classroom" name="classroomID" [(ngModel)]="classroomID">
          <option value="" selected disabled hidden>請選擇教室</option>
          <option *ngFor="let room of classroomOptions" [value]='room.value'>{{room.title}}</option>
        </select>
      </div>
      <div class="group">
        <label>日期：</label>
        <input type="date" name="date" [(ngModel)]="startDate" />
        <b>&nbsp;~&nbsp;</b>
        <input type="date" name="date" [(ngModel)]="endDate" />
      </div>
    </div>
    <br />
    <button routerLink="/card-record/result" class="button"><i class="search icon"></i>查詢</button>
  </div>
</section>
