<section class="content center">
  <div class="container sheet" id="whiteForm">
    <h2>
      <strong>本系借用申請 </strong><i class="pencil alternate icon"></i>
    </h2>
    <hr />
    <form name="iimRequestBorrowForm" (ngSubmit)="onSubmit()">
      <table>
        <tbody>
          <tr>
            <th><label><b>學號：</b></label></th>
            <td><input (focusout)="fetchApplicant()" [(ngModel)]="form.applicantID" 
                  name="applicantID" type="text" id="stu_id_input" /></td>
            <th><label><b>姓名：</b></label></th>
            <td>{{(this.applicant$ | async)?.name  || '未知'}}</td>
          </tr>
          <tr>
            <th><label><b>E-mail：</b></label></th>
            <td colspan="3"><input name="email" [(ngModel)]="form.applicantEmail" type="email" /></td>
          </tr>
          <tr>
            <th><label><b>日期：</b></label></th>
            <td colspan="3"><input (change)="timeOnChange()" [(ngModel)]="form.timeRange.date" 
                name="date" type="date" id="date_input" /></td>
          </tr>
          <tr>
            <th><label><b>節數：</b></label></th>
            <td colspan="3"><select (change)="timeOnChange()" [(ngModel)]=form.timeRange.startPeriod name="startPeriod">
                <option value="" selected disabled hidden>起始節數</option>
                <option *ngFor="let period of periodOptions" [value]='period.value'>{{period.title}}</option>
              </select>
              <b>&nbsp;~&nbsp;</b>
              <select (change)="timeOnChange()" [(ngModel)]=form.timeRange.endPeriod name="endPeriod">
                <option value="" selected disabled hidden>結束節數</option>
                <option *ngFor="let period of periodOptions" [value]='period.value'>{{period.title}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <th><label><b>活動名稱：</b></label></th>
            <td colspan="3"><input [(ngModel)]="form.reason" name="reason" 
                  class="longWidth" type="text" id="activity_name" /></td>
          </tr>
          <tr>
            <th><label><b>教室：</b></label></th>
            <td><select (change)="fetchClassroom()" [(ngModel)]="form.classroomID" name="classroomID">
                <option value="" selected disabled hidden>請選擇教室</option>
                <option *ngFor="let room of classroomOptions" [value]='room.value'>{{room.title}}</option>
              </select>
            </td>
            <th><label><b>座位數：</b></label></th>
            <td>{{(classroom$ | async)?.capacity}}</td>
          </tr>
        </tbody>

        <tbody booking-equipment fullColspan=4 [timeRange]="form.timeRange">
        </tbody>
      </table>

      <div>
        <button class="button" type="submit">送出申請</button>
        <button onclick="history.back()" class="button" title="返回" type="button">
          返回</button>
      </div>
    </form>
  </div>
</section>
